footer {
    background-color: #f5f5f5;
    padding: 20px 100px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.content {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.contactInfo p {
    margin: 5px 0;
}

.socialMedia a {
    color: #555;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.socialMedia a:hover {
    color: #007bff;
}

/* Back to top button */
.back-to-top {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}

/* Copyright notice */
p.copyright {
    margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .socialMedia a {
        margin: 5px;
    }
}